:root {
  /* Colors: */
  --gap: 3px;
  --stonex-primary-dark-blue: #0a3254;
  --stonex-primary-mid-blue: #336094;
  --stonex-primary-light-blue: #7aadd4;
  --stonex-primary-green: #287151;
  --stonex-primary-yellow: #e0d253;
  --stonex-primary-orange: #e99c23;
  --stonex-primary-error: #b2292e;
  --stonex-secondary-blue: #233d93;
  --stonex-secondary-bluegreen: #4b738b;
  --stonex-secondary-darkgreen: #104734;
  --stonex-secondary-success: #308761;

  --stonex-secondary-lime: #61a644;
  --stonex-secondary-mustard: #c5b22f;
  --stonex-secondary-burnt-orange: #c15527;
  --stonex-secondary-error: #9e3222;
  --stonex-secondary-brown: #686058;
  --stonex-secondary-purple: #5a325f;
  --stonex-secondary-sky: #dbe5ec;
  --stonex-neutral-text: #333333;
  --stonex-neutral-secondary-text: #555759;
  --stonex-neutral-icons: #77787a;
  --stonex-neutral-disabled: #b0b3b3;
  --stonex-neutral-grey-1: #cfd3d3;
  --stonex-neutral-grey-2: #e7e9e9;
  --stonex-neutral-grey-3: #f3f4f4;
  --stonex-neutral-grey-4: #f9f9f9;

  /* Font/text values */
  --stonex-font-family-crimson-text: Crimson Text;
  --stonex-font-family-mulish: Mulish;
  --stonex-font-style-normal: normal;
  --stonex-font-weight-600: 600px;
  --stonex-font-weight-normal: normal;
  --stonex-font-weight-bold: bold;
  --stonex-font-size-10: 10px;
  --stonex-font-size-11: 11px;
  --stonex-font-size-14: 14px;
  --stonex-font-size-16: 16px;
  --stonex-font-size-18: 18px;
  --stonex-font-size-24: 24px;
  --stonex-font-size-32: 32px;
  --stonex-font-size-36: 36px;
  --stonex-character-spacing-0: 0px;
  --stonex-line-spacing-15: 15px;
  --stonex-line-spacing-16: 16px;
  --stonex-line-spacing-20: 20px;
  --stonex-line-spacing-21: 21px;
  --stonex-line-spacing-24: 24px;
  --stonex-line-spacing-26: 26px;
  --stonex-line-spacing-28: 28px;
  --stonex-line-spacing-36: 36px;
  --stonex-line-spacing-40: 40px;
  --stonex-text-transform-uppercase: uppercase;
}

* {
  font-family: Mulish;
}

section.container {
  margin: 0 auto;
  background-color: var(--stonex-neutral-grey-2);
  color: var(--stonex-neutral-text);
  width: 250px;
  padding: 3px;
  border: 1px solid hsl(0, 0%, 15%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 4px;
}

header {
  text-align: center;
  color: var(--stonex-neutral-text);
  padding: 3px 0;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

header select,
input.combobox-input {
  text-align: center;
  width: fit-content;
  background-color: var(--stonex-neutral-grey-3);
  border: 1px solid var(--stonex-neutral-grey-1);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}

input.combobox-input {
  width: 100%;
  height: 100%;
}

.combobox-wrapper {
  width: 100%;
  height: 20px;
  padding: 0;
}

.shadow-popup {
  width: 200px;
}

section.price-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.change {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  content: "";
}

.change.up {
  background-color: var(--stonex-primary-green);
}

.change.down {
  background-color: var(--stonex-primary-error);
}

.price-box {
  position: relative;
  background: var(--stonex-neutral-grey-4);
  color: var(--stonex-neutral-text);
  width: 50%;
  padding: 5px;
  border: 1px solid var(--stonex-neutral-grey-1);
  border-radius: 3px;
  cursor: pointer;
  height: 80px;
}

.price-box.sell:hover {
  background-color: var(--stonex-primary-error);
  color: var(--stonex-neutral-grey-4);
}
.price-box.buy:hover {
  background-color: var(--stonex-primary-green);
  color: var(--stonex-neutral-grey-4);
}

.price-box:first-child {
  border-top-left-radius: 3px;
}
.price-box:nth-child(2) {
  border-top-right-radius: 3px;
}

.price-box > h2 {
  font-size: 0.6rem;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

.buy h2 {
  text-align: left;
}

.sell h2 {
  text-align: right;
}

footer {
  display: flex;
  justify-content: center;
  background: var(--stonex-neutral-grey-1);
  gap: var(--gap);
  border-radius: 3px;
  position: relative;
}

section.price {
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: center;
}

.mid-sig {
  font-size: 2rem;
}

.least-sig {
  font-size: 1.1rem;
  align-self: flex-end;
}

.context {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
}

.currency {
  border: 1px inset gray;
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 2px;
}

.amount {
  background: hsl(0, 0%, 15%);
  padding: 2px;
  border: 1px inset gray;
  font-size: 0.7em;
  color: hsl(230, 100%, 85%);
  align-self: center;
}

.right {
  text-align: right;
}

.display-none {
  display: none;
}

#amount-input {
  width: 100px;
}

.expand-icon {
  position: absolute;
  line-height: 0.9;
  padding: 0;
  text-align: center;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: var(--stonex-primary-light-blue);
  bottom: -14px;
  left: -12px;
  color: var(--stonex-neutral-grey-4);
  cursor: pointer;
}

section.ladder-wrapper {
  height: auto;
}

#price-ladder-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 13x;
}

#price-ladder-table td,
#price-ladder-table th {
  border: 1px solid #ddd;
  padding: 4px;
}

#price-ladder-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#price-ladder-table tr:hover {
  background-color: #ddd;
}

#price-ladder-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

section.inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 3px;
  margin: 3px 0;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}

section.inputs select,
section.inputs input {
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  padding: 2px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: var(--stonex-neutral-grey-3);
  border: 1px solid var(--stonex-neutral-grey-1);
}

section.inputs label {
  font-size: 8px;
  color: var(--stonex-neutral-text);
}

.full-width {
  width: 100%;
}

.half-width {
  width: calc(50% - (var(--gap) / 2));
}

td:nth-child(1),
td:nth-child(4) {
  width: 15%;
}

td:nth-child(1) {
  background-color: var(--stonex-primary-green);
  color: var(--stonex-neutral-grey-4);
}
td:nth-child(4) {
  background-color: var(--stonex-primary-error);
  color: var(--stonex-neutral-grey-4);
}
